.wrapper-form {
    margin: 3rem 0 2rem;
}

.group-field {
    margin-bottom: 1rem;
}

#messages {
    text-align: center;
}

#messages.success {
    color: green;
}

#messages.error {
    color: red;
}